@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Rubik, sans-serif;
  background-color: #cedade;
}

html {
  scroll-behavior: smooth;
}

p {
  color: #5499b5;
}

h1 {
  color: #4e818e;
}

a,
.btn {
  transition: all 300ms ease;
}

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: #165241;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: #9fc8f2;
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  text-decoration-color: #9fc8f2;
}

.logo {
  font-size: 1rem;
  color: #165241;
}

.logo:hover {
  cursor: default;
}

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

#profile {
  display: flex;
  justify-content: left;
  gap: 2rem;
  height: 80vh;
}

.section_pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
  margin-left: 100px; /* centers the image and adds space below */
  border-radius: 50%;
}

.section_text {
  align-self: center;
  text-align: center;
  max-width: 500px;
}

.section_text p {
  font-weight: 600px;
}

.section_text1 {
  font-size: 1.75rem;
  text-align: center;
}

.section_text2 {
  font-size: 1.5rem;
  text-align: center;
}

.title {
  font-size: 3rem;
  text-align: center;
}

.about {
  max-width: 800px;
  margin-right: 100px;
  margin-left: 100px;
  margin: auto 0;
}

#socials_container {
  margin: 20;
  text-align: center;
}

.icon {
  cursor: pointer;
  height: 2rem;
}
